/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.movie_still {

}
.fluidbox-ghost {
	background-size: cover;
	display: inline
}
.fluidbox-loader{
	display: inline;
}
.fluidbox-closed {
	cursor: zoom-in;
}
.fluidbox-opened {
	cursor: zoom-out;
}
.single-movies .post-thumbnail img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.film-cover-container {
    float: left;
    margin: 5px 10px 5px 0;
}
.entry-header h2.entry-title,
.entry-header h3 {
	clear: right;
	margin-bottom: 0.55em;
}
.entry-header .director {
	margin-bottom: 0.55em;
}
.entry-content p a {
	text-decoration: none;
	border-bottom: none;
}
.entry-left {
    float: left;
    max-width: 50%;
    padding: 15px;
}
.single-movies .content {
	margin-bottom: 50px;
}
.movies-archive-search .movies-search {
	margin-bottom: 20px;
}
.inner.movie {
	margin-bottom: 10px;
}
img.movieStill {
	margin-bottom: 10px;
}
img.img-responsive {
	width: 100%;
	height: auto;
}